<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Library</title>

    <!-- User styles -->
    <link href="css/reset.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="" title="Library home page">Library</a>
        </div>
      </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9">
                <ul class="books">
                    <li class="book">
                        <p class="cover"><img src="data/covers/Zverolykiy.png" alt="" width="200" height="330"></p>
                        <p class="name">Звероликий</p>
                        <p class="author">Андрей Чернецов, Владимир Лещенко</p>
                        <p class="publishers">Издательство "Крылов"</p>
                        <p class="year">2006 г.</p>
                        <p class="isbn">ISBN 5-9717-0273-4</p>
                        <p class="annotation">
                            <span class="caption">Аннотация</span>
                            <span class="description">
                                Мир, где компьютеры мирно соседствуют с языческими храмами, а магия — с паровозами. Где сатиры трудятся кочегарами, гоблины — телохранителями, а домовые объединены в профсоюзы. Где патриции летают на персональных дирижаблях, а столица Римской империи находится в Александрии. Где одни молятся Юпитеру и Перуну, а другие ждут первого пришествия Христа. Где все так непохоже на нашу Землю и вместе с тем похоже.<br>
                                И вот над этим миром нависла опасность. Как и тысячу лет назад, появилась неведомая чуждая сила.<br>
                                Разобраться с ней предстоит не великим мудрецам и могущественным чародеям, а скромному частному сыщику Кристоферу Лайеру и его очаровательной помощнице Натали Курковой.<br>
                                Правда, сыщик этот не так уж прост, как могут подумать некоторые.
                            </span>
                        </p>
                        <p class="detailed"><a href="" title="">Подробнее...</a></p>
                    </li>
                    <li class="book">
                        <p class="cover"><img src="data/covers/Zarya_nad_Araksom.png" alt="" width="200" height="330"></p>
                        <p class="name">Заря над Араксом</p>
                        <p class="author">Андрей Ливадный</p>
                        <p class="publishers">Издательство "ЭКСМО; Москва"</p>
                        <p class="year">2006 г.</p>
                        <p class="isbn">ISBN 5-699-15046-3</p>
                        <p class="annotation">
                            <span class="caption">Аннотация</span>
                            <span class="description">
                                Тысячелетия освоения Космоса не избавило род людской от первобытных пороков, главным и наиболее опасным из которых была неуемная жажда власти. Именно она была первопричиной кровопролитных конфликтов, сотрясавших Вселенную. Однако пришло время, когда даже разумные машины, созданные в процессе бесконечных войн, поняли бессмысленность взаимного истребления. И тогда некоторые из носителей искусственного интеллекта пришли к выводу, что решением всех проблем будет устранение «слабого звена» — человеческой расы…
                            </span>
                        </p>
                        <p class="detailed"><a href="" title="">Подробнее...</a></p>
                    </li>
                    <li class="book">
                        <p class="cover"><img src="data/covers/Zvezdniy_udar.png" alt="" width="200" height="330"></p>
                        <p class="name">Звездный удар</p>
                        <p class="author">Майкл Гир</p>
                        <p class="publishers">Издательство "Эксмо-Пресс"</p>
                        <p class="year">2001 г.</p>
                        <p class="isbn">ISBN 5-04-006592-2</p>
                        <p class="annotation">
                            <span class="caption">Аннотация</span>
                            <span class="description">
                                Жестокое противостояние сверхдержав поставило под угрозу само существование земной цивилизации. В этот момент в дела людей вмешиваются всемогущие Ахимса — пришельцы из космоса. Они таинственным образом выводят из строя все ядерные вооружения и избавляют Землю от угрозы глобальной катастрофы. Но Ахимса ставят ультиматум: либо лучшие из солдат Земли отправятся с ними — либо планета погибнет! И земляне вынуждены принять это условие и послать своих воинов в неизведанные глубины космоса...
                            </span>
                        </p>
                        <p class="detailed"><a href="" title="">Подробнее...</a></p>
                    </li>
                    <li class="book">
                        <p class="cover"><img src="data/covers/Poslanec_nebes.png" alt="" width="200" height="330"></p>
                        <p class="name">Посланец небес</p>
                        <p class="author">Михаил Ахманов</p>
                        <p class="publishers">Издательство "Эксмо; М."</p>
                        <p class="year">2005 г.</p>
                        <p class="isbn">ISBN 5-699-09734-1</p>
                        <p class="annotation">
                            <span class="caption">Аннотация</span>
                            <span class="description">
                                Планета Осиер была крепким орешком для Фонда развития инопланетных культур. Обладая значительным населением и всеми необходимыми ресурсами, она застыла в своем развитии на уровне земного Средневековья. Все попытки прогрессоров подтолкнуть развитие цивилизации заканчивались в лучшем случае бесплодно, в худшем — трагически. Земляне были вынуждены свернуть свою деятельность на Осиере на полвека.<br>
                                После пятидесятилетнего перерыва Фонд решает послать на загадочную планету с тайной миссией социопсихолога Ивара Тревельяна. Под видом бродячего певца, члена Братства Рапсодов, он отправляется в путешествие с побережья Жемчужного моря в столицу Империи. Но уже с первых шагов ему становится ясно, что люди владеют далеко не полной информацией о том, как устроен этот мир, кому он на самом деле принадлежит и кто определяет его будущее...
                            </span>
                        </p>
                        <p class="detailed"><a href="" title="">Подробнее...</a></p>
                    </li>
                    <li class="book">
                        <p class="cover"><img src="data/covers/Glubina_v_nebe.png" alt="" width="200" height="330"></p>
                        <p class="name">Глубина в небе</p>
                        <p class="author">Вернор Виндж</p>
                        <p class="publishers">Издательство "АСТ; Москва"</p>
                        <p class="year">2000 г.</p>
                        <p class="isbn">ISBN 5-17-002532-7</p>
                        <p class="annotation">
                            <span class="caption">Аннотация</span>
                            <span class="description">
                                «Глубина в небе» в чем то продолжает, а в чем то и предваряет «Пламя над бездной», книгу сенсацию, удостоенную премии «Хьюго» и признанную наиболее значительным произведением 90 х годов ХХ века в жанре космической саги. Над вселенной может пролететь тысячелетие, но приключения Фама Нювега, легендарного героя Людского Космоса, не заканчиваются — ибо время над ним не властно!<br>
                                Роман удостоен премий «Хьюго» и «Прометей» как лучший фантастический роман 1999 года.
                            </span>
                        </p>
                        <p class="detailed"><a href="" title="">Подробнее...</a></p>
                    </li>
                    <li class="book">
                        <p class="cover"><img src="data/covers/Plamya_nad_bezdnoy.png" alt="" width="200" height="330"></p>
                        <p class="name">Пламя над бездной</p>
                        <p class="author">Вернор Виндж</p>
                        <p class="publishers">Издательство "Азбука, Азбука-Аттикус"</p>
                        <p class="year">2001 г.</p>
                        <p class="isbn">ISBN 978-5-389-08030-0</p>
                        <p class="annotation">
                            <span class="caption">Аннотация</span>
                            <span class="description">
                                Вернор Виндж — один из самых интересных писателей фантастов, человек, которого называют «самым серьезным автором остросюжетной прозы». Он написал не так уж много — романы «Мир Гримма» и «Острие» и цикл «Сквозь время», однако каждое из его произведений имело огромный успех. «Пламя над бездной» занимает среди написанного Винджем особое место. Это — роман сенсация, роман, который сразу же после публикации был признан наиболее значительным произведением 90 х годов в жанре космической саги.
                            </span>
                        </p>
                        <p class="detailed"><a href="" title="">Подробнее...</a></p>
                    </li>
                    <li class="book">
                        <p class="cover"><img src="data/covers/Pechalnye_pesni_siren.png" alt="" width="200" height="330"></p>
                        <p class="name">Печальные песни сирен</p>
                        <p class="author">Серж Брюссоло</p>
                        <p class="publishers">Издательство "АСТ; Москва"</p>
                        <p class="year">2006 г.</p>
                        <p class="isbn">ISBN 5-17-035661-7</p>
                        <p class="annotation">
                            <span class="caption">Аннотация</span>
                            <span class="description">
                                ЧУДОВИЩНАЯ КАТАСТРОФА превратила городское метро в гигантские руины, заполненные водой.<br>
                                Жертвы исчислялись ТЫСЯЧАМИ, но истинную причину трагедии установить так и не удалось.<br>
                                С годами история исчезнувшего метро стала жуткой легендой…<br>
                                Говорят — предприимчивые мародеры поставляют на рынок одежду из КОЖИ УТОПЛЕННИКОВ.<br>
                                Говорят — в затопленных туннелях обитают то ли мутанты, то ли призраки…<br>
                                Однако то, что из разрушенного метро еще НИКТО не возвращался, — отнюдь не легенда.<br>
                                Удастся ли сотруднице речной полиции Лиз Унке, сестра которой оказалась в списке погибших, отделить правду от лжи и остаться в живых?
                            </span>
                        </p>
                        <p class="detailed"><a href="" title="">Подробнее...</a></p>
                    </li>
                </ul>
            </div>
            
            <div class="col-lg-3 col-md-3">
                <div class="action">
                    <a href="" title="Добавить книгу">Добавить книгу</a>
                </div>
                <ul class="categories">
                    <li class="category">
                        <div class="category-name">Художественные книги</div>
                        <ul class="genres">
                            <li class="genre">
                                <a href="" title="Фантастика">Фантастика</a>
                            </li>
                            <li class="genre">
                                <a href="" title="Фэнтези">Фэнтези</a>
                            </li>
                            <li class="genre">
                                <a href="" title="Мистика">Мистика</a>
                            </li>
                            <li class="genre">
                                <a href="" title="Ужасы">Ужасы</a>
                            </li>
                            <li class="genre">
                                <a href="" title="Детективы">Детективы</a>
                            </li>
                            <li class="genre">
                                <a href="" title="Юмор">Юмор</a>
                            </li>
                        </ul>
                    </li>
                    <li class="category">
                        <div class="category-name">Учебная литература</div>
                        <ul class="genres">
                            <li class="genre">
                                <a href="" title="Психология">Психология</a>
                            </li>
                            <li class="genre">
                                <a href="" title="Философия">Философия</a>
                            </li>
                            <li class="genre">
                                <a href="" title="Экономика">Экономика</a>
                            </li>
                            <li class="genre">
                                <a href="" title="Физика">Физика</a>
                            </li>
                            <li class="genre">
                                <a href="" title="Математика">Математика</a>
                            </li>
                            <li class="genre">
                                <a href="" title="Право">Право</a>
                            </li>
                        </ul>
                    </li>
                    <li class="category">
                        <div class="category-name">История</div>
                        <ul class="genres">
                            <li class="genre">
                                <a href="" title="Всемирная история">Всемирная история</a>
                            </li>
                            <li class="genre">
                                <a href="" title="Отечественная история">Отечественная история</a>
                            </li>
                        </ul>
                    </li>
                    <li class="category">
                        <div class="category-name">ПК и Интернет</div>
                        <ul class="genres">
                            <li class="genre">
                                <a href="" title="Графика">Графика</a>
                            </li>
                            <li class="genre">
                                <a href="" title="Дизайн">Дизайн</a>
                            </li>
                            <li class="genre">
                                <a href="" title="Операционные системы">Операционные системы</a>
                            </li>
                            <li class="genre">
                                <a href="" title="Железо">Железо</a>
                            </li>
                            <li class="genre">
                                <a href="" title="Языки программирования">Языки программирования</a>
                            </li>
                            <li class="genre">
                                <a href="" title="Базы данных">Базы данных</a>
                            </li>
                            <li class="genre">
                                <a href="" title="Системы проектирования">Системы проектирования</a>
                            </li>
                            <li class="genre">
                                <a href="" title="Офисные приложения">Офисные приложения</a>
                            </li>
                        </ul>
                    </li>
                    <li class="category">
                        <div class="category-name">Периодика</div>
                        <ul class="genres">
                            <li class="genre">
                                <a href="" title="Журналы">Журналы</a>
                            </li>
                            <li class="genre">
                                <a href="" title="Статьи партнёров">Статьи партнёров</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <footer>
        <div class="container">
            <div class="footer-content">
                <span class="copyright">Leonid, (c) 2015</span>
            </div>
        </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- User js -->
    <script src="js/library.js"></script>
</body>
</html>